@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
	margin: 0;
	font-family: "Titillium Web";
}

h1 {
	text-align: center;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	margin: 0;
	color: #000000;
	text-shadow: -1px 1px 3px rgba(0,0,0,0.55);
	margin-bottom: 20px;	
	position: sticky;
	top: 0;
}

label.alinha {
	width: 370px;
	display: inline-block; /*converte um label em elemento nível de bloco*/
	text-align: right;
	margin-bottom: 10px;
}

.medio {
	width: 200px;
}

select, input, button {
	font-family: "Titillium Web";
}

fieldset {
	width: 40%;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	margin: 30px auto;
	padding: 20px;
	background: #eee;
}

button {
	display: block; /* só é possível centralizar (margin auto) se transformá-lo em bloco) */
	margin: auto;
	width: 300px;
	height: 40px;
	font-size: 18px;
	font-weight: bolder;
	text-shadow: -1px 1px 1px rgba(0,0,0,0.55);
	margin-top: 10px;
}
/* formatação de tags que serão geradas pelo php */
p {
	border: 1px solid #eee;
	width: 50%;
	background: #eee;
	padding: 30px;
	margin: 30px auto;
	text-align: center;
}

caption { /* legenda da tabela - 
													tb gerada automaticamente pelo php */
	text-align: right;
	margin-bottom: 8px;
}

